name: build

on:
  push:
  pull_request:
    branches: [main]
    paths:
      - '**.cs'
      - '**.csproj'

env:
  DOTNET_VERSION: '6.0.401' # The .NET SDK version to use

jobs:
  build:
    
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Install dependencies
        run: |
            cd ConversorDeUnidades
            dotnet restore
      
      - name: Build
        run: |
            cd ConversorDeUnidades
            dotnet build --configuration Release
            ls

      - name: Creating Artifact
        uses: actions/upload-artifact@v3
        with:
          name: dll
          path: ConversorDeUnidades/src/bin/Release/net7.0/*.dll

  test:
    runs-on: ubuntu-latest
    # needs: build

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Install dependencies
        run: |
            cd ConversorDeUnidades
            dotnet restore
      
      - name: Install Coverlet
        run: dotnet add package coverlet.msbuild --version 6.0.0

      - name: Run Tests using Coverlet
        run: |
            cd ConversorDeUnidades
            dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=opencover --verbosity minimal
            cd src.Tests
            cd TestResults
            ls 

      - name: Creating Artifact
        uses: actions/upload-artifact@v3
        with:
          name: TestResults
          path: ConversorDeUnidades/src.Tests/TestResults

      # - name: Creating Test Report
      #   run: |
      #     dotnet tool install -g dotnet-reportgenerator-globaltool
      #     reportgenerator -reports:ConversorDeUnidades/src/bin/Release/net7.0/coverage.json -targetdir:report

