name: build

on:
  push:
  pull_request:
    branches: [main]
    paths:
      - '**.cs'
      - '**.csproj'

env:
  DOTNET_VERSION: '6.0.401' # The .NET SDK version to use

jobs:

  test:
    runs-on: ubuntu-latest
    # needs: build

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Install dependencies
        run: |
            cd ConversorDeUnidades
            dotnet restore
        
      - name: Run tests
        run: |
            cd ConversorDeUnidades
            dotnet test /p:CollectCoverage=true /p:CoverletOutput=./TestResults/ /p:CoverletOutputFormat=lcov

      - name: Install report generator
        run: dotnet tool install --global dotnet-reportgenerator-globaltool

      - name: Generating report tests
        run: |
             cd ConversorDeUnidades
             reportgenerator -reports:./src.Tests/TestResults/coverage.info -targetdir:./src.Tests/coverage_reports --reporttypes:Html

      - name: Creating Artifact
        uses: actions/upload-artifact@v3
        with:
          name: TestResults
          path: ConversorDeUnidades/src.Tests/coverage_reports/index.html

  build:
    # needs: test
    runs-on: ubuntu-latest
          
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
          
      - name: Install dependencies
        run: |
            cd ConversorDeUnidades
            dotnet restore
                
      - name: Build
        run: |
            cd ConversorDeUnidades
            dotnet build --configuration Release
            cd src.WinForms
            ls
            cd bin
            cd Debug
          
      - name: Creating Artifact
        uses: actions/upload-artifact@v3
        with:
          name: Conversor de Unidades
          path: ConversorDeUnidades/src.WinForms/bin/Debug/net7.0/*.exe
            

      # - name: Creating Test Report
      #   run: |
      #     dotnet tool install -g dotnet-reportgenerator-globaltool
      #     reportgenerator -reports:ConversorDeUnidades/src/bin/Release/net7.0/coverage.json -targetdir:report

